<<<<<<< HEAD
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
html, body{
    margin:0px;
    height:100%;
    font-family: 'Gothic A1', sans-serif;
    background:#ffffff;
}
body{
    box-sizing:border-box;
}
textarea, select, input, button { outline: none; }
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F3F6FF;
    border:#7B7B7B 0.7px solid;
    border-right:none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F3F6FF;
}

/**  CONTAINER  **/

.container-1{
    display:grid;
    grid-template-columns: 480fr 555fr 885fr;
    grid-template-rows: 35fr 210fr;
    height:29.88vh;
}
.container-2{
    display:grid;
    grid-template-columns: 1420fr 500fr;
    grid-template-rows: 60fr 515fr;
    height:70.12vh;
}

.personal{
    display:grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
}
#pet_contact, #pet_spec, #pet_profile{
    grid-column-start: 2;
    grid-column-end: 5;
}
#pet_name, #pet_person{
    letter-spacing:5px;
}
.tagSelected{
    border:#7B7B7B 1px solid;
}
.result{
    display:grid;
    grid-template-rows: 1fr 1fr;

}
.medicine{
    display:grid;
    grid-template-rows: 1fr 9fr;
}
.medicine-container{
    display:grid;
    grid-template-columns: 18fr 47fr 47fr;
}
.medicine-category{
    display:grid;
    grid-template-rows: repeat(9, 1fr);
    border-right:#7B7B7B 0.5px solid;
}
#searched1{
    border-bottom:#7B7B7B 0.5px solid;
    border-right:#7B7B7B 0.5px solid;
}

#searched2{
    border-right:#7B7B7B 0.5px solid;
}
.prev{
    display:grid;
    grid-template-columns: 5fr 11fr;
}
.selected{
    background:#DFDFDF;
}
.content-prev{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float:left;
    width:100%;
    height:3.65vh;
    border-bottom:#7B7B7B 0.7px solid;
    color:#000000;
}
.content-cell-prev{
    overflow-y:auto;
    border-left:#7B7B7B 0.7px solid;
    height:25.60vh;

}
.content-cell-prev-c{
    overflow-y:scroll;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    word-wrap:break-word;
    height:23.16vh;
    border-left:#7B7B7B 0.7px solid;
}

.diagnosis{
    border:none;
    padding:20px;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-size:15px;
    line-height: 1.6em;
    border-left:#7B7B7B 0.7px solid;

}
.cell{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#DFDFDF;
    font-weight: bold;
    color:#7B7B7B;
}

.title-big{
    font-size:20px;
}
.title-search{
    font-size:20px;
    background:#5C74B7;
    display:grid;
    grid-template-columns: 480fr 940fr;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search-list{
    position:absolute;
    top:100%;
}
.searched-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 48.43vw;
    height: 6.10vh;
    background-color:rgba(255,255,255,0.9);
    color:#000000;

}
.search>input[type="text"]{
    width:48.43vw;

    height:6.10vh;
    border: none;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}
.search-container{
    display:grid;
    grid-template-columns: 300fr 800fr 320fr;
    grid-template-rows: 300fr 35fr 180fr;
}
.submit-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 365fr 60fr 90fr;
}
.medicine{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.select{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;

    font-weight: bold;
}
.opinion{
    grid-column-start: 1;
    grid-column-end: 3;

    padding:20px;
    border:0;
    font-family: 'Gothic A1', sans-serif;
    font-size:15px;
    line-height: 1.6em;
}
.total-container{
    box-shadow: 0 -5px 5px -5px #7B7B7B;
    grid-column-start: 1;
    grid-column-end: 3;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.total-content{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
}
.submit, .check{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:26px;
}
.submit{
    background:#5C74B7;
    color:#ffffff;
    float:right;
}
.check{
    background:#DFDFDF;
    color:#000000;
}
=======
@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
html, body{
    margin:0px;
    height:100%;
    font-family: 'Gothic A1', sans-serif;
    background:#ffffff;
}
body{
    box-sizing:border-box;
}
textarea, select, input, button { outline: none; }
/* width */
::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #F3F6FF;
    border:#7B7B7B 0.7px solid;
    border-right:none;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #F3F6FF;
}

/**  CONTAINER  **/

.container-1{
    display:grid;
    grid-template-columns: 480fr 555fr 885fr;
    grid-template-rows: 35fr 210fr;
    height:29.88vh;
}
.container-2{
    display:grid;
    grid-template-columns: 1420fr 500fr;
    grid-template-rows: 60fr 515fr;
    height:70.12vh;
}

.personal{
    display:grid;
    grid-gap: 1px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
}
#pet_contact, #pet_spec, #pet_profile{
    grid-column-start: 2;
    grid-column-end: 5;
}
#pet_name, #pet_person{
    letter-spacing:5px;
}
.tagSelected{
    border:#7B7B7B 1px solid;
}
.result{
    display:grid;
    grid-template-rows: 1fr 1fr;
}
.prev{
    display:grid;
    grid-template-columns: 5fr 11fr;
}
.selected{
    background:#DFDFDF;
}
.content-prev{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    float:left;
    width:100%;
    height:3.65vh;
    border-bottom:#7B7B7B 0.7px solid;
    color:#000000;
}
.content-cell-prev{
    overflow-y:auto;
    border-left:#7B7B7B 0.7px solid;
    height:25.60vh;

}
.content-cell-prev-c{
    overflow-y:scroll;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    word-wrap:break-word;
    height:23.16vh;
    border-left:#7B7B7B 0.7px solid;
}

.diagnosis{
    border:none;
    padding:20px;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-size:15px;
    line-height: 1.6em;
    border-left:#7B7B7B 0.7px solid;

}
.cell{
    display: inline-flex;
    align-items: center;
    justify-content: center;
}
.title{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background:#DFDFDF;
    font-weight: bold;
    color:#7B7B7B;
}

.title-big{
    font-size:20px;
}
.title-search{
    font-size:20px;
    background:#5C74B7;
    display:grid;
    grid-template-columns: 480fr 940fr;
}

.search{
    display: flex;
    align-items: center;
    justify-content: center;
}
.search>input[type="text"]{
    width:48.43vw;

    height:6.10vh;
    border: none;
    font-size:20px;
    font-weight: bold;
    text-align: center;
}
.search-container{
    display:grid;
    grid-template-columns: 300fr 800fr 320fr;
    grid-template-rows: 300fr 35fr 180fr;
}
.submit-container{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 365fr 60fr 90fr;
}
.medicine{
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}
.select{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:#ffffff;

    font-weight: bold;
}
.opinion{
    grid-column-start: 1;
    grid-column-end: 3;

    padding:20px;
    border:0;
    font-family: 'Gothic A1', sans-serif;
    font-size:15px;
    line-height: 1.6em;
}
.total-container{
    box-shadow: 0 -5px 5px -5px #7B7B7B;
    grid-column-start: 1;
    grid-column-end: 3;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
.total-content{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:20px;
}
.submit, .check{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size:26px;
}
.submit{
    background:#5C74B7;
    color:#ffffff;
    float:right;
}
.check{
    background:#DFDFDF;
    color:#000000;
}
>>>>>>> 69fe84c62f79bda4d6097797813082b6b946da64
