@import url('https://fonts.googleapis.com/css?family=Gothic+A1');
html, body{
    --main-bg-color: #EAEAEA;
    margin:0px;
    height:100%;
    width:100%;
    font-family: 'Gothic A1', sans-serif;

}

.modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading .modal {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .modal {
    display: block;
}

body{
    display: grid;
    grid-template-rows: 38fr 110fr 864fr 0fr;
}

textarea, select, input, button { outline: none; }
::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #F3F6FF; 
    border:#7B7B7B 0.7px solid;
    border-right:none;
}

::-webkit-scrollbar-thumb:hover {
    background: #F3F6FF; 
}

.header-container, .body-container, nav-container{
    width: 100%;
}
.header-container{
    background: var(--main-bg-color);
}
.body-container{
    background: #FFFFFF;
    overflow:hidden;
}
.nav-container{
    background-image: linear-gradient(to right, #436DB9 , #203B84);
}
.header, .body, .nav{
    width: 177.77vh;
    height: 100%;
    margin: 0 auto;
}
.header{
    display:grid;
    grid-template-columns: 1464fr 25fr 65fr 36fr 110fr 110fr 110fr;
    font-size:1.39vh;
    font-weight:600;
}
.rep-name{
    display:inline-flex;
    align-items: center;
    justify-content: flex-end;
}
.logout, .header-menu{
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
.logout{
    color:#5C74B7;
}
.header-menu{
    color:#203B84;
}
.nav{
    display:grid;
    grid-template-columns:354fr 150fr 150fr 150fr 150fr 150fr 150fr 666fr;
}
.logo{
    display:grid;
    grid-template-columns:52fr 127fr 175fr;
    grid-template-rows:38fr 34fr 38fr;
}
.logo > img{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
}
.nav-menu{
    color:#FFFFFF;
    display: grid;
    grid-template-rows:66fr 12fr 12fr 20fr;
}
.nav-menu-logo{
    display:inline-flex;
    align-items: flex-end;
    justify-content: center;
}
.nav-menu-logo > img{
    height: fit-content;
}
.nav-menu-text{
    font-size:1.11vh;
    grid-row-start:3;
    grid-row-end:4;
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
.act{
    background:#203B84;
}


.vs-wrapper {
	position: relative;
	display: block;
	overflow: hidden;
	height: 100%;
	width: 100%;
}

#diag, #more{
    display:grid;
    grid-template-rows:21fr 843fr 20fr;
    grid-template-columns:31fr 1859fr 30fr;
}
#medicines{
    display:grid;
    grid-template-rows:21fr 421fr 421fr 20fr;
    grid-template-columns:31fr 1859fr 30fr;
}
#diag>.vs-content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;

    display:grid;
    grid-template-rows:25fr 10fr 48fr;
}
#medicines>.vs-content:nth-child(1){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;

}
#medicines>.vs-content:nth-child(2){
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:3;
    grid-row-end:4;

}

#more>.vs-content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;

    display:grid;
    grid-template-rows:25fr 1.36fr 56.64fr;

}
/* table */
.table-big{
    display:grid;
    grid-template-rows: 28fr 210fr;
}
.table{
    display:grid;
    grid-template-rows: 28fr 180fr;
}
.table-big>.title{
    padding-left:15px;
    color:#203B84;
    font-weight:600;
    font-size:1.297vh;
    background-image: linear-gradient(to bottom, #F5F5F5 , var(--main-bg-color));
    display:inline-flex;
    align-items: center;
}
.table>.title{
    padding-left:15px;
    color:#3E3E3E;
    font-weight:600;
    font-size:1.112vh;
    background-image: linear-gradient(to bottom, #F5F5F5 , var(--main-bg-color));
    display:inline-flex;
    align-items: center;
}
.name, .cell{
    padding-left:15px;
    font-size:1.297vh;
    display:inline-flex;
    align-items: center;
    color:#3E3E3E;
    height:2.78vh;
}
.cell{
    width: -webkit-fill-available;
}
.cell-2{
    height:5.56vh;
}
.cell-long{
    height:2.78vh;
    display:grid;
    grid-template-columns: 280fr 105fr 90fr 90fr 90fr 115fr 90fr 100fr 179fr;

}
.name{
    background:#F9F9F9;
}
.cell-container{
    overflow-y: scroll;
    height:11.106vh;
    grid-column-start: 1;
    grid-column-end: 10;
    grid-row-start: 3;
    grid-row-end: 4;
}
/*diag*/
.content-diag{
    display:grid;
    grid-template-columns:520fr 680fr 650fr;
    grid-gap: 5px;
}
.content-more{
    display:grid;
    grid-template-columns:520fr 243fr 543fr 543fr;
    grid-gap: 5px;
}
.predict-result{
    border:var(--main-bg-color) 0.5px solid;
    display:grid;
    grid-template-rows: repeat(7, 1fr);
}
.predict-result-cell, .predict-result-cell-title{
    display:grid;
    grid-template-columns:6fr 5fr 5fr;
}

.predict-result-cell-title{
    background:#F5F5F5;
}
.predict-result-cell-title div{
    padding-left:10px;
    color:#3E3E3E;
    font-weight:600;
    font-size:1.112vh;
    display:inline-flex;
    align-items: center;
}
.predict-result-cell div{
    padding-left:10px;
    color:#3E3E3E;
    font-weight:600;
    font-size:1.112vh;
    display:inline-flex;
    align-items: center;
    font-weight:normal;
}
.predict-result-cell:nth-child(odd){
    background:#F5F5F5;
}
.predict-result-cell:nth-child(even){
    background:#FFFFFF;
}
.personal{
    display:grid;
    grid-template-columns: 10fr 16fr 10fr 16fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 2fr;
    border:var(--main-bg-color) 0.5px solid;
}
#predict_disease, #myResult{
    border:var(--main-bg-color) 0.5px solid;

}
.prev{
    display:grid;
    grid-gap: 1px;
    grid-template-columns: 190fr 590fr;
    border:var(--main-bg-color) 0.5px solid;
}
.content-cell-prev{
    overflow-y:auto;
    height:19.44vh;
}
.content-cell-prev-c, #myResult{
    overflow-y:scroll;
    padding:10px;
    padding-left:20px;
    padding-right:20px;
    word-wrap:break-word;
    height:Calc(19.44vh - 20px);
    font-size:1.297vh;
}
.diagnosis{
    border:var(--main-bg-color) 0.5px solid;
    padding:20px;
    margin: 0;
    font-family: 'Gothic A1', sans-serif;
    font-size:1.297vh;
    line-height: 1.6em;
}
#pet_profile, #pet_profile2{
    grid-column-start: 2;
    grid-column-end: 5;
}
.selected{
    background:var(--main-bg-color);
}
/*search*/
.content-search{
    display:grid;
    grid-template-rows:55fr 40fr 15fr;
}
.search{
    display:grid;
    grid-template-columns: 150fr 150fr 150fr 14fr 620fr 755fr;
    grid-column-gap:4px;
}
.search-button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color:#203B84;
    font-size: 1.58vh;
    font-weight: 600;
    border:#203B84 1px solid;
    border-radius: 0.26vh;
}
.search-type{
    color:#FFFFFF;
    background:#5C74B7;
}
.search-form{
    width:57.41vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.search-list{
    position:absolute;
    top:100%;
}
.searched-list{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 57.41vh;
    height: 4vh;
    background-color:rgba(255,255,255,0.9);
    color:#000000;

}
.predict-searched-result-list-item1, .searched-result-list-item1, .searched-result-list-item2, .medicine-categorys{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size:1.297vh;
    padding-left:15px;
    height:2.78vh;
    width: -webkit-fill-available;
}
.tagSelected{
    background:#ECF1FF;
}
.search-form>input[type="text"]{
    width:100%;
    height:90%;
    font-size: 1.58vh;
    font-weight: 600;
    border:#203B84 1px solid;
    border-radius: 0.26vh;
    text-align: center;
}


/*insert*/
.content-insert{
    display:grid;
    grid-template-columns:1394fr 450fr;
    grid-column-gap: 15px;
}
.insert{
    display:grid;
    grid-template-rows: 208fr 208fr 69fr;
    grid-row-gap: 5px;
}
.medicine-container{
    display:grid;
    grid-template-columns:410fr 979fr;
    grid-column-gap: 5px;
}
.search-result{
    display:grid;
    grid-template-columns:1fr 1fr;
}
.searched1, .searched2, .medicine-category, .self-result{
    border:var(--main-bg-color) 0.5px solid;
}

#medicine{
    overflow-y: scroll;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    word-wrap: break-word;
    height: Calc(16.66vh - 20px);
    font-size: 1.297vh;
}

.medicine-result{
    display:grid;
    grid-template-columns:325fr 655fr;
}

.stock-container{
    display:grid;
    grid-template-columns:250fr 1139fr;
    grid-column-gap: 5px;
}
.stock{
    display:grid;
    grid-template-columns:280fr 105fr 90fr 90fr 90fr 115fr 90fr 100fr 179fr;
    grid-template-rows:28fr 30fr 120fr 30fr;
    border:var(--main-bg-color) 0.5px solid;
}
.title1, .title2{
    padding-left:10px;
    color:#3E3E3E;
    font-weight:600;
    font-size:1.112vh;
    background-image: linear-gradient(to bottom, #F5F5F5 , var(--main-bg-color));
    display:inline-flex;
    align-items: center;
}
.title1{
    grid-column-start: 1;
    grid-column-end: 8;
    grid-row-start:1;
    grid-row-end:2;
}
.title2{
    grid-column-start: 8;
    grid-column-end: 10;
    grid-row-start:1;
    grid-row-end:2;
}
.title3{
    padding-left:10px;
    color:#3E3E3E;
    font-weight:600;
    font-size:1.112vh;
    background: var(--main-bg-color);
    display:inline-flex;
    align-items: center;
    justify-content:center;
}
.stock-count{
    grid-column-start: 2;
    grid-column-end: 8;
    padding-left:15px;
    font-size:1.297vh;
    display:inline-flex;
    align-items: center;
    color:#3E3E3E;
    height:2.78vh;
}
.stock-price{
    grid-column-start: 8;
    grid-column-end: 10;
    padding-left:15px;
    font-size:1.297vh;
    display:inline-flex;
    align-items: center;
    color:#3E3E3E;
    height:2.78vh;
}
.stock>.name{
    padding-left:10px;
}
.final{
    display:grid;
    grid-template-rows: 425fr 65fr;
    grid-row-gap: 5px;
}
.more-result, .more-final{
    display:grid;
    grid-template-rows: 494.1fr 65fr;
    grid-row-gap: 25px;

}
.more-final>div:nth-child(1),.more-result>div:nth-child(1){
    display:grid;
    grid-template-rows: 35fr 479.1fr;
}
.more-result .title, .more-final .title{
    color:#3E3E3E;
    font-weight:600;
    font-size:1.297vh;
    background-image: linear-gradient(to bottom, #F5F5F5 , var(--main-bg-color));
    display:inline-flex;
    align-items: center;
}
.more-result .title > div, .more-final .title{
    padding-left:10px;
}
.more-result .title{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.8fr 0.8fr 0.6fr 0.6fr;
}
.more-results{
    display:grid;
    grid-template-rows: repeat(12, 1fr);
    border:var(--main-bg-color) 1px solid;
}
.more-results>div{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 0.8fr 0.8fr 0.6fr 0.6fr;
    grid-column-gap: 1px;
    background:var(--main-bg-color);
}
.more-results>div>div{
    padding-left:10px;
    color:#3E3E3E;
    font-weight:noraml;
    font-size:1.112vh;
    display:inline-flex;
    align-items: center;
    background:#FFFFFF;
}
.opinion{
    padding:20px;
    font-family: 'Gothic A1', sans-serif;
    font-size:15px;
    line-height: 1.6em;
    border:var(--main-bg-color) 0.5px solid;
}

.submits{
    display:grid;
    grid-column-gap: 5px;
    grid-template-columns: 1fr 1fr;
    color: #FFFFFF;
    font-size:2.04vh;
    font-weight:600;
}
.check, .submit, .backDiag{
    display:inline-flex;
    align-items: center;
    justify-content: center;
}
.backDiag{
    grid-column-start: 1;
    grid-column-end: 3;
}
.backDiag, .check{
    background:#7B7B7B;
}
.submit{
    background:#203B84;
}
#medicines .content-container{
    background:#ffffff;
    height:38.52vh;
    width: 100%;
    display: grid;
    grid-template-columns: 140fr 1500fr 140fr;
    grid-template-rows: 41fr 40fr 642fr;
    grid-row-gap:45px;
}


#person .blank, #memo .blank{
    height:3.93vw;
}
#person .content-container, #memo .content-container{
    background:#ffffff;
    height:77.04vh;
    width: 100%;
    display: grid;
    grid-template-columns: 140fr 1500fr 140fr;
    grid-template-rows: 41fr 40fr 642fr;
    grid-row-gap:45px;
}
#person .headers, #medicines .headers, #memo .headers{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;

    display:grid;
    grid-template-columns: 250fr 180fr 295fr 173fr 91fr 15fr 191fr;
    grid-gap: 5px;
    align-items:center;
}
#person .content, #medicines .content, #memo .content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;

    display:grid;
    grid-template-rows: 50fr 540fr;

    margin-bottom:20px;
    background:#979797;
}
#person .content-row, #person .title{
    display:grid;
    grid-template-columns: 100fr 250fr 250fr 350fr 200fr 200fr 300fr 200fr 350fr;
    color: #3E3E3E;
}
#memo .content-row, #memo .title{
    display:grid;
    grid-template-columns: 100fr 100fr 600fr 600fr 200fr;
    color: #3E3E3E;
}
#memo .title{
    background: #FFFFFF;
}
#memo .content-row.edit, #memo .title.edit{
    display:grid;
    grid-template-columns: 100fr 100fr 600fr 600fr 200fr 100fr;
    color: #3E3E3E;
}
#medicines .content-row, #medicines .title{
    display:grid;
    grid-template-columns: 100fr 250fr 250fr 350fr 200fr 250fr 200fr 300fr;
    color: #3E3E3E;
}
#medicines .content-row2, #medicines .title-2{
    display:grid;
    grid-template-columns: 100fr 600fr 150fr 160fr 240fr 200fr 220fr 200fr 210fr 280fr 250fr 260fr 290fr 300fr;
    color: #3E3E3E;
}
#person .content-row:nth-child(odd), #medicines .content-row:nth-child(odd), #memo .content-row:nth-child(odd){
    background:#FFFFFF;
}
#person .content-row:nth-child(even), #medicines .content-row:nth-child(even), #memo .content-row:nth-child(even){
    background:#F9F9F9;
}
#person .content-row>div, #medicines .content-row>div, #medicines .content-row2>div, #memo .content-row>div{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left:10px;
}
#person .headers select{
    border-radius: 2px;
    border-color: #979797;
    color: #3E3E3E;
    text-align: center;
    text-align-last: center;
    font-size:20px;
}
#person .total, #medicines .total, #memo .total{
    color: #8D8D8D;
    font-weight: bold;
    font-size: 18px;

    display: flex;
    align-items: center;
    justify-content: center;
}
#person .paging, #medicines .paging, #memo .paging{
    color: #8D8D8D;
    font-size: 18px;

    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 19px;
}
#person .paging>div, #medicines .paging>div, #memo .paging>div{
    display: flex;
    align-items: center;
    justify-content: center;

    color: #3E3E3E
}
#person .paging > div.arrow, #medicines .paging > div.arrow, #memo .paging > div.arrow{
    color: #CECECE;
    font-weight: bold;
}
#person .paging > div.act, #medicines .paging > div.act, #memo .paging > div.act{
    color: #5C74B7;
    font-weight: bold;
}
#person .title> div, #medicines .title> div, #medicines .title-2> div, #memo .title> div{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left:10px;
    color: #484848;
    background: #FFFFFF;
    font-weight:bold;
}
#person .content-table, #memo .content-table{
    background:#FFFFFF;
    display: grid;
    grid-template-rows: repeat(12, 1fr);
}

#medicines .content-table{
    background:#FFFFFF;
    display: grid;
    grid-template-rows: repeat(6, 1fr);
}

.content-last{
    background:#FFFFFF;
    display:grid;
    grid-template-columns: 1004fr 191fr;
}