<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href="{{ url_for('static', filename='diag.css') }}" rel="stylesheet">
    </head>
    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='transform.js') }}"></script>
        <script>
            var diagnosises;
            $(document).ready(function() {
                $(".chat").click(function(){
                    window.open('/chat');
                });
                $.ajax({
                    url : '/load_personal',
                    success : function(data){
//                        console.log(JSON.stringify(data));
                        for(key in transform(data)){
//                            console.log('#'+key.toLowerCase());
//                            console.log(data[key]);
                            $('#'+key.toLowerCase()).html(data[key]);
                        }
                        $.ajax({
                           url : '/load_diagnosis',
                            success : function(data){
                                diagnosises = data;
                                for(var i=0;i<data.length;i++){
                                    var html = "<div class='content-prev' data-item='"+i+"'>"+data[i].DIAGN_DATE.split(" ")[0]+"</div>";
                                    $('#cell-prev').append(html);

                                }
                            },
                            type : 'post',
                            dataType: 'json',
                            data : {pet_id : "{{pet_id}}", hospt_id : "{{hospt_id}}"}
                        });

                    },
                    fail : function(){
                        alert("asdfasdfasdf");
                    },
                    type : 'post',
                    dataType: 'json',
                    data : {pet_id : "{{pet_id}}"}
                });

            });

            $(document).on('click','.content-prev',function(){
                $( ".content-prev" ).removeClass('selected');
                $(this).addClass('selected');
                $('#cell-prev-c').html(diagnosises[$(this).attr("data-item")].DIAGN_OPINION);
            });
        </script>

        <div class="container-1">
            <div class="title">개인정보</div>
            <div class="title">이전진료</div>
            <div class="title">현재진료</div>

            <div class="personal">
                <div class="title">이&nbsp; &nbsp; &nbsp; 름</div>
                <div class="cell" id="pet_name"></div>
                <div class="title">보 호 자</div>
                <div class="cell" id="pet_person"></div>
                <div class="title">품&nbsp; &nbsp; &nbsp; 종</div>
                <div class="cell" id="pet_spec"></div>
                <div class="title">나&nbsp; &nbsp; &nbsp; 이</div>
                <div class="cell" id="pet_age"></div>
                <div class="title">입원여부</div>
                <div class="cell" id="pet_adms"></div>
                <div class="title">성&nbsp; &nbsp; &nbsp; 별</div>
                <div class="cell" id="pet_sex"></div>
                <div class="title">체&nbsp; &nbsp; &nbsp; 중</div>
                <div class="cell" id="pet_weight"></div>
                <div class="title">연 락 처</div>
                <div class="cell" id="pet_contact"></div>
                <div class="title">특이사항</div>
                <div class="cell" id="pet_profile"></div>
            </div>
            <div class="prev">
                <div id="cell-prev" class="content-cell-prev">
                </div>
                <div id="cell-prev-c" class="content-cell-prev-c"></div>
            </div>
            <textarea rows="4" style="resize:none;" class="diagnosis"></textarea>
        </div>
        <div class="container-2">
            <div class="title title-search">
                <div class="select"> 질 병 / 증 상</div>
                <div class="search"><input type="text"/></div>
            </div>
            <div class="title title-big">종합소견</div>
            <div class="search-container">
                <div class="result"></div>
                <div class="medicine"></div>
                <div class="title">자가관리</div>
                <div class="title">처방관리</div>
                <div class="title">수가입력</div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <div class="submit-container">
                <textarea rows="4" style="resize:none;" class="opinion">나트륨이 과다한 음식은 잦은 소변과 심혈관계 질환을 유발할 수 있으니 피해주세요. 한 주에 30분 이상의 운동을 추천합니다. 정기적인 관리를 하지 않으면 쿠싱과 저혈당 쇼크등의 합병증이 유발될 수 있으니 유의해주세요.</textarea>
                <div class="total-container">
                    <div class="total-content">합 계</div>
                    <div class="total-content">110,200 &#8361;</div>
                </div>
                <div class="check">검사하기</div>
                <div class="submit">처방하기</div>
            </div>
        </div>

    </body>
</html>