<!DOCTYPE HTML>
<html>

    <head>
        <meta charset="utf-8">
        <link href="{{url_for('static', filename='main.css') }}" rel="stylesheet">
    </head>

    <body>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="{{url_for('static', filename='transform.js') }}"></script>
        <script>
            var diagnosises;
            $(document).ready(function() {
                $(".chat").click(function(){
                    window.open('/chat');
                });
                $.ajax({
                    url : '/load_personal',
                    success : function(data){
//                        console.log(JSON.stringify(data));
                        for(key in transform(data)){
//                            console.log('#'+key.toLowerCase());
//                            console.log(data[key]);
                            $('#'+key.toLowerCase()).html(data[key]);
                        }
                        $.ajax({
                           url : '/load_diagnosis',
                            success : function(data){
                                diagnosises = data;
                                for(var i=0;i<data.length;i++){
                                    var html = "<div class='content-prev' data-item='"+i+"'>"+data[i].DIAGN_DATE.split(" ")[0]+"</div>";
                                    $('#cell-prev').append(html);
                                    
                                }
                            },
                            type : 'post',
                            dataType: 'json',
                            data : {pet_id : "{{pet_id}}", hospt_id : "{{hospt_id}}"}
                        });
                            
                    },
                    fail : function(){
                        alert("asdfasdfasdf");
                    },
                    type : 'post',
                    dataType: 'json', 
                    data : {pet_id : "{{pet_id}}"}
                });
            
            });
            
            $(document).on('click','.content-prev',function(){
                $( ".content-prev" ).removeClass('selected');
                $(this).addClass('selected');
                $('#cell-prev-c').html(diagnosises[$(this).attr("data-item")].DIAGN_OPINION);
            });
            $(document).on('click','.menu>li',function(){
                if($(this).attr('class') != 'chat'){
                    $( ".act" ).removeClass('act');
                    $(this).addClass('act');
                    $('#frame').attr('src', '/'+$(this).attr('id'));
                    $('#frame').attr('class', 'iframe-'+$(this).attr('id'));
                }
            });


        </script>
        <div class="navBar">
            <div class="navHeader">
                <div class="hosptName">{{hospt_name}}</div>
                <div class="menuHospt">병원관리</div>
            </div>
            <div class="navMenu">
                <!--<img src="{{ url_for('static', filename='img/logo1.png') }}">-->
                <ul class="menu">
                    <li id="diag" class="act">기본진료</li>
                    <li>정밀검사</li>
                    <li>마약관리</li>
                    <li>수가/메모</li>
                    <li id="person">보호자관리</li>
                    <li class="chat"><img src="{{ url_for('static', filename='img/chatting_btn.png') }}" width="90px" height="90x"></li>
                </ul>
            </div>
        </div>
        <div class="frame">

    		<iframe id="frame" width="100%" height="100%" src="/diag" frameborder="0" scrolling="no"></iframe>

        </div>
    </body>
</html>